# OS files
Thumbs.db
.DS_Store
Desktop.ini
ehthumbs.db
*.swp
*.swo
*~

# Logs
*.log
/root/

# Build artifacts
src/*.php
src/*.tar.gz
src/*.tar.bz2
src/*.tar.xz
src/*.tgz
src/*.rpm
src/*.phar


# IDE
.vscode/
.idea/
*.sublime-*
